:root {
    --white: #ffffff;
    --black: #232323;

    --theme-color: var(--white);
}


@media (prefers-color-scheme: light) {
    main {
      background: var(--white);
    }

    .display-container {
        background: linear-gradient(145deg, #ffffff, #e6e6e6);
        box-shadow:  10px 10px 20px #8a8a8a,
                     -10px -10px 20px #ffffff;
    }

    .display-container:hover {
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
        box-shadow:  10px 10px 20px #8a8a8a,
                     -10px -10px 20px #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    main {
      background: var(--black);
    }

    .display-container {
        background: linear-gradient(145deg, #252525, #202020);
        box-shadow:  10px 10px 20px #131313,
                     -10px -10px 20px #333333;
    }

    .display-container:hover {
        background: linear-gradient(145deg, #202020, #252525);
        box-shadow:  10px 10px 20px #131313,
        -10px -10px 20px #333333;
    }
}

.glass-panel {
    color: #fff;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
};

.glass-button {
    display: inline-block;
    border: 0;
    text-decoration: none;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
};
 
.glass-button:hover {
    background-color: rgba(255,255,255,0.2);
};

