@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and newer versions of Opera */
}

.scrollable-but-hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

.scrollable-but-hidden-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
